/*Flat color*/

$fGreen: #15C7B1;
$fDGreen: #009E87;
$fLime: #00C873;
$fDLime: #3CBC82;
$fBlue: #43ACE3;
$fDBlue: #3B9AC6;
$fPurple: #9E5FB6;
$fDPurple: #9149AD;
$fYellow: #F9CA3C;
$fDYellow: #FB9A00;
$fOrange: #EE7D15;
$fDOrange: #DC5400;
$fRed: #F34D35;
$fDRed: #C83A22;
$fWhite: #ECF0F1;
$fDWhite: #BBC3C6; 
